{%extends "base.html" %}
{% block mainbody %}
    <h1 style="margin-top:200px;">輸入名子</h1>
        <form method="POST" action="/play/">
            {% csrf_token %}
            <div class="form-group" >
                <label for="exampleInputEmail1">名子</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="暱稱" name="name">
            </div>

            <div class="form-group" >
                <select class="form-control" name="sub1">
                    <option value="" selected="true" disabled="disabled">自選科目1</option>
                    <option value="國文">國文</option>
                    <option value="英文">英文</option>
                    <option value="數學">數學</option>
                    <option value="地理">地理</option>
                    <option value="自然">自然</option>
                    <option value="歷史">歷史</option>
                </select>
            </div>
            <div class="form-group" >
                <select class="form-control" name="sub2">
                    <option value="" selected="true" disabled="disabled">自選科目2</option>
                    <option value="國文">國文</option>
                    <option value="英文">英文</option>
                    <option value="數學">數學</option>
                    <option value="地理">地理</option>
                    <option value="自然">自然</option>
                    <option value="歷史">歷史</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" style='width:120px'>開始遊戲</button>
            </div>

        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
{% endblock %}